.exhibitNavigationPortlet {max-width:200px; }
.exhibitNavigationPortlet a.ExhibitImage {border:none !important; }
.exhibitNavigationPortlet a.ExhibitImage img {width:100%; height:auto; max-width: 200px}
.exhibitNavigationPortlet dt.portletHeader {padding-left:10px; padding-top:20px; }
.exhibitNavigationPortlet div.exhibit-sections {margin-bottom:20px; padding-bottom:20px; }
dl.portletNavigationTree.exhibitNavigationPortlet dd.portletItem {padding: 10px 15px 10px 0; border-bottom:1px solid #ddd; }
dl.portletNavigationTree.exhibitNavigationPortlet dd.portletItem a {border:none !important; display:block; }
.exhibitNavigationPortlet div.exhibit-sections dd.portletItem {margin-left:10px;  }
.exhibitNavigationPortlet div.exhibit-pages dd.portletItem {margin-bottom:20px; margin-left:10px; }

#exhibit-contents .SectionLink {background:#fff; display:block; float:left; margin-right:10px; width:185px; }
#exhibit-contents .SectionLink a {display:block; line-height:20px; width:100%;  border-bottom: none !important; }
#exhibit-contents .SectionLink a img {display:block; margin-bottom:10px; }
#exhibit-contents .SectionLink a .ExhibitSectionTitle {display:block; padding:10px; }
.ExhibitSectionImage {float: left; margin: 0 10px 10px 0;}
#exhibit-contents .SectionLink .ExhibitSectionDescription {padding:5px 10px 10px 10px; }
#exhibit-section-items .ExhibitItem {display:block; float:left; margin-right:10px; width:185px; }
#exhibit-section-items .ExhibitItemDescription a {width:100%; display:block; }

img.ExhibitSectionThumb, img.ExhibitItemThumb {max-width: 100%; max-height: 140px; display:block; margin: 0 auto;}
.ExhibitItemListing {padding:10px 10px 10px; margin:15px 0px; position:relative; }
.ExhibitItemListing h3 {margin:0px 0px 10px; }

.ExhibitItemListing .ListingItem {display:inline-block; position:relative;  margin:10px 10px 5px 0px; text-align: center; }
.ExhibitItemListing .ListingItem a {display:inline-block; width:102px; }
.ExhibitItemListing .ListingItem img {max-width: 100%; height: auto; }
.ExhibitItemListing .CurrentListingItem img {border: 4px solid black;}
.ExhibitItemListing .ListingItem .tooltip {background:url('++resource++exhibit-images/tooltip_bg.png') top left no-repeat transparent; border:none; border-bottom:1px solid #d3d0cc; left:0px !important; padding:15px 10px 0px; width:239px; z-index: 1000; display:none;}
#content a.FullExhibitItemLink {background:url('++resource++exhibit-images/exhibit-moreinfo.png') top right no-repeat; display:block; height:31px; text-indent:-10000px; width:100%; border: none !important;}
#content a.CloseExhibitItemLink {background:url('++resource++exhibit-images/exhibit-lessinfo.png') top right no-repeat #e4e0da; display:block; height:31px; text-indent:-10000px; width:100%; border: none !important;}

#content #ExhibitItemView {background-color:#e4e0da !important; padding: 15px 10px;}
